<p class="site-intro">
<i>"Any sufficiently advanced technology is indistinguishable from magic."</i><br><br>
An open-source software development journal. Technical notes and ramblings, mostly regarding infrastructure security.</p>
