<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      {{ content }}
      <div class="copyright">
        <p>&copy; {{ site.time | date: '%Y' }} <a
		href="mailto:mrogers@redhat.com" title="{{ site.description }}"><strong>{{
			site.title }}</strong></a> ― <a
		href="http://github.com/mrogers950">Github</a></p>
      </div>
    </div>
  </body>
</html>
