---
layout: default
---
<section class="site-header"> <h1 class="smallcap"><img src="../../../../../rhtower.png"><br><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1> </section>
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  <div class="post-content">
    {{ content }}
  </div>
</article>
